<h1>Título: <%= @recipe.title %></h1>
<h3>Detalhes</h3>
<p>Tipo da receita: <%= @recipe.recipe_type %></p>
<p>Cozinha: <%= @recipe.cuisine.name %></p>
<p>Dificuldade: <%= @recipe.difficulty %></p>
<p>Minutos: <%= @recipe.cook_time %> minutos</p>
<h3>Ingredientes</h3>
<p>Ingredientes: <%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p>Método: <%= @recipe.cook_method %></p>
<%= link_to 'Voltar', root_path %>