<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to 'Enviar uma receita', new_recipe_path %>
<% @recipes.each do |r| %>
  <h1><%= link_to r.title, r %></h1>
  <ul>
    <li>tipo de receita: <%= r.recipe_type %></li>
    <li>cozinha: <%= link_to r.cuisine.name,  %></li>
    <li>dificuldade: <%= r.difficulty %></li>
    <li>tempo de cozinha: <%= r.cook_time %> minutos</li>
    <li>ingredientes: <%= r.ingredients %></li>
    <li>metodo: <%= r.cook_method %></li>
  </ul>
<% end %>
